table {
  border-collapse: collapse;
}

.buttons-row {
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;
}

.celda {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2ddff;
}

.celda-llena {
  background-color: #008709;
  color: #fff;
}

.celda-ocupada-incorrecta {
  background-color: #c40404;
  color: #fff;
}